* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Inter", sans-serif;
}
.content-wraperr {
  width: 1400px;
}
.headers-navigation-list {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.headers-navigation-item {
  display: inline-block;
  margin: 0px 72px;
  padding: 32px 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%; /* 24.3px */
}
.headers-navigation-link {
  text-decoration: none;
  color: #000;
}
.image {
  margin-bottom: 88px;
}
.main-title {
  color: #000;
  margin-bottom: 40px;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 135%; /* 64.8px */
}
p {
  color: #161616;
  font-size: 21px;
  font-weight: 500;
  line-height: 150%; /* 31.5px */
  text-align: left;
  width: 856px;
  margin: auto;
  margin-bottom: 24px;
}
#firstname {
  color: #04959e;
  font-weight: 600;
}
.text-list {
  margin: auto;
  text-align: left;
  width: 856px;
  margin-bottom: 40px;
}
.text-item {
  color: #161616;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.main-button {
  background: #04959e;
  display: block;
  border: none;
  color: #fff;
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 88px;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%; /* 24.3px */
}
.line {
  height: 1px;
  align-self: stretch;
  background: #161616;
  margin-bottom: 16px;
}
.main-footer-text {
  color: #161616;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  margin-bottom: 16px;
}
